%section#fl_container.three-nine-three.fl_container.fixed{ :class => "#{'right_nav_hidden' if @api.is_framemaker? or @subsection_headings.empty?}", :data => { :object_id => @api.id }}
  .fluid_wrapper.fixed{ :class => "#{request.path.split('/')[2]} #{request.path.gsub(".html", "").split("/")[3]}" }
    .left-col.no-pad
      %ul.side.api_nav.depth-0.public_nav
        = render "leftnav", :print => true, :pages => @sidenav_root
    %article.middle-col.channel_color_headlines
      = render "messages", fluid: true
      %header.support-head
        %time.small-gray-caps
          Last Updated #{datetime_to_date @api.updated_at}
        %h2.h1.channel_color= @api.title
        - unless @api.is_root?
          %ul.breadcrumbs
            - @api.ancestors.each do |ancestor|
              %li= link_to(ancestor.title, ancestor.permalink)
            %li= @api.title

      - unless @api.is_framemaker?
        = raw @api.body
        - if @api.passages.present?
          - @api.passages.each do |passage|
            - if passage.content.present?
              .content-passage
                = raw passage.output
            - else
              .remote-content-passage
                = raw passage.output
        - unless @channel_specific_content.blank?
          - @channel_specific_content.each do |channel_partner, content|
            .spy_this{:id => channel_partner.parameterize}
              %h3.h5.all-caps.nine.section_separator= channel_partner
              - content.each do |c|
                = raw c.content
      - else
        .content-passage
          = raw @api.framemaker_contents
